.container {
	margin-left: 200px;
	margin-right: 200px;
}

.menu {
	background-color:orange;
	padding: 10px;
}
.menu h1 {
	display:inline;
}

.links {
	display: inline-block;
	margin-left: 20px;
}
.links a {
	margin-left: 10px;
}

.body {
	margin-left: 100px;
	margin-right: 100px;
}
