<div class="row">
	<div class="col-sm-12">
		
			{{#list-filter filter=(action 'filterByGenre') as |filterList|}}
			
				<ul class="list-group">
					{{#each filterList as |equationList|}}
						{{ equation-listing equation=equationList}}
					{{/each}}
				</ul>
				
			{{/list-filter}}
			
	</div>
</div>

