
<div class="jumbo">
	<div class="right tomster"></div>
	<h2>About Curious Equations</h2>
	<p>
		This is a small project created to explore some interesting equations which could be used in life. Or are simply curious to know.
	</p>
	{{#link-to 'equations'}}
		<h3>Go to equations!</h3>
	{{/link-to}}
</div>

